/*------------------------------------
    Generic Styles
------------------------------------*/
html {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 65%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-size: 100%;
    margin: 0;
    color: #f00;
    background-color: #000;
}

footer,
nav {
    display: block;
}

.text-center {
    text-align: center;
}

section {
    padding-top: 50px;
    margin-top: 50px;
}

.navbar {
    height: 100px;
    max-height: 340px;
    display: block;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.wrap {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    text-align: center;
}

.menu-container {
    max-height: 300px;
    margin: 0% auto;
    content: " ";
    width: 100%;
    position: fixed;
    z-index: 100;
}



/*------------------------------------
    Home Section Styles
------------------------------------*/
#home {
    background: url(../img/GlacierPano.jpg) no-repeat 10% 10%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    padding-top: 100px;
    padding-bottom: 500px;
    color: #f00;
}