html {
	font-family: sans-serif;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body { 
    background-color: black;
    color: #fff;
}

section {
    height:700px;
    padding-top:50px;
    padding-bottom:50px;
    overflow:auto;
    color:white;
}

p {
    font-weight: 300;
    line-height: 30px;
}

h1 {
    text-align: center;
}

.divider {
    height:0px;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
}

.background h1 {
    text-shadow: 0 0 15px blue, 0 0 30px white;
    font-size: 7em;
    margin-bottom: 25px;
}

.background h2 {
    font-size: 5em;
    text-shadow: 0 0 15px blue, 0 0 30px white;
}

.background h3 {
    font-size: 3em;
    text-shadow: 0 0 15px blue, 0 0 30px white;
}

.sectionTitle {
    text-shadow: 0 0 15px blue, 0 0 30px white;
    font-size: 4em;
}

.bg-1 {
	background: url('../img/codingPhoto.jpg') no-repeat center center fixed;
}
  
.bg-2 {
	background: url('../img/matrixComputer.jpg') no-repeat center center fixed;
}

.bg-3 {
	background: url('../img/frisbee.jpg') no-repeat center center fixed;
}

.bg-1, .bg-2, .bg-3 {
    background-size:cover;
    box-shadow: 0px -50px 50px 0 black inset;
}

.bg-2, .bg-3 {
    box-shadow: 0px -50px 50px 0 black inset, 0px 50px 50px 0 black inset;
}

.photo {
    position: relative;
    width: 450px;
    margin: 40px auto;
    text-align: center;
    margin-bottom: 2em;
    overflow: hidden;
    border-radius: 10px;
    padding: 1px;
    border: 1px solid #000;
    background-color: #000;
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.7);
}

.photo img {
    transition: transform 0.4s;
    transform-origin: 50% 50%;
    height: 250px;
    max-width: 100%;
    text-align: center;
    margin: 40px auto;
}

.photo-overlay {
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    padding: 20px;
    transition: all 0.5s;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s visibility 0.5s;
}

.photo-overlay p {
    line-height: 120%;
}

.photo:hover .photo-overlay {
    visibility: visible;
    opacity: 1;
}

.photo:hover img {
	transform: scale(1.35);
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.flex-container {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	border-radius: 8px;
	margin: 0px auto;
	background-color: rgba(187, 187, 187, 0.3);
	box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.5);
}

.logo-container {
    margin: 15px auto;
}
.skills-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0px auto;
}

.photo-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding-left: 20px;
	padding-right: 20px;
	justify-content: center; /* For centering text inside .photo-overlay */
	align-items: center;
    background: rgba(0,0,0,0.5);
    opacity: 0;
	transition: opacity 0.5s;
	border-radius: 10px;
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: center;
}

.logos {
    margin: 10px 20px 10px 20px;
}

#background-3 p {
    font-weight: 500;
    font-size: 1.5em;
    margin: auto 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(187, 187, 187, 0.3);
    position: fixed;
    top: 0;
    width: 100%;
    opacity: .95;
    z-index: 1;
}

li {
    float: left;
}

li a {
    font-size: 2em;
    font-weight: 500;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
