/*------------------------------------------
    Making my own Navbar section
------------------------------------------*/
.body-basics {
    color: #007BFF; 
    background-color: Black;
}

/*------------------------------------------
    jumbotron section
------------------------------------------*/

.jumbotron {
    background-image: url(../img/GlacierPano.png);
    height: 400px;
    width: 100%
    background-repeat: no-repeat;
    background-size: cover;
  }

  .jumbotron .container-fluid {
    position:relative;
    top:50px;
  }

  h1 {
      font-size: 3.3em;
      font-variant: small-caps;
      font-weight: bold;
      text-align: center;
  }

  .container-fluid {
    margin-top: 75px;
  }
  
.card-border {
    border:20px;
}

.bg-dark {
    opacity: 0.8;
}


.img-separate {
    margin-left: 40px;
}

.column-left{ 
    float: left; width: 33%; 
    text-align: center;
}
.column-right{ 
    float: right; width: 33%; 
    text-align: center;
}
.column-center{
    display: inline-block; width: 33%; 
    text-align: center;
}

.navbar-default {
    color: #007BFF;
}
